List {
	color: blue;
	font-weight: bold;
}

.MTrimmedWindow {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #ededed;
}

.MPartStack {
	font-size: 12;
	font-family: 'Lucida Grande';
	padding: 10px 10px 10px 10px; /* top left bottom right */
	swt-tab-outline: #a6a6a6;
	swt-outer-keyline-color: #a6a6a6;
	swt-unselected-tabs-color: #ededed #e1e1e1 #ffffff 99% 100%;
	swt-shadow-visible: true;
	swt-selected-tab-fill: #ffffff;
	swt-shadow-color: #a8a8a8;
	swt-corner-radius: 14px;
}

.MPartStack.active {
	swt-inner-keyline-color: #FFFFFF;
	swt-tab-outline: #97ab27;
	swt-outer-keyline-color: #97ab27;
	swt-unselected-tabs-color: #ebf4b5 #dee8a3 #ffffff 99% 100%;
	swt-selected-tab-fill: #ffffff;
}

.MPartStack.empty {
	swt-unselected-tabs-color: #dedede #dedede #dedede 99% 100%;
	swt-tab-outline: #b8becc;
	swt-outer-keyline-color: #b8becc;
}
.MTrimBar {
	background-color: #ededed;
}

.MTrimBar#org-eclipse-ui-main-toolbar {
	background-color: #ededed #dbdbdb;
}

CTabFolder.MArea .MPartStack,CTabFolder.MArea .MPartStack.active {
	swt-shadow-visible: false;
}

CTabFolder Canvas {
	background-color: #F8F8F8;
}

#org-eclipse-ui-editorss {
	swt-tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
	swt-unselected-tabs-color: #F0F0F0 #F0F0F0 #F0F0F0 100% 100%;
	swt-outer-keyline-color: #B4B4B4;
	swt-inner-keyline-color: #F0F0F0;
	swt-tab-outline: #F0F0F0;
	color: #F0F0F0;
	swt-tab-height: 8px;
	padding: 0px 5px 7px;
}

#org-eclipse-ui-trim-status{
	background-color: #e2e7c9;
}

#org-eclipse-ui-main-toolbar #PerspectiveSwitcher {
	eclipse-perspective-keyline-color: #aaafbd;
	background-color: #f5f6fa #ededed 100%;
	handle-image: none;
}

/* Class .fileList assigned from code via IStylingEngine */
.fileList {
	background-color: yellow;
}